body {
    margin: 0;
    padding: 0;
    background:  #f2f2f2;
    height: 100%;
}

html, body, #root, .container {
    height: 100%;
}
.container {margin-top: 90px;}
.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
